@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,300&display=swap%27');

* {
  padding: 0;
}
html, body {
  padding: 0;
  margin: 0;
}
.container-main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorForm{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: indianred;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 15px;
}
.date {
    padding: 0.25rem;
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #333; 
    cursor: pointer;
    box-shadow: none;
    border: 1px solid #3498db; 
    background-color: #3498db; 
    border-radius: 0.25rem;
    max-width: 15rem;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  
  .error-message-style {
    text-align: center;
    color: #ff0000; 
    font-size: 0.75rem;
    font-style: italic;
  
    
  }
  .fontNormal{
    font-family: 'Poppins', sans-serif;
  }
  .error-border {
    border-color: #ef4444; /* Red color */
  }
  input[type="date"]{
    background-color: #0080ff;
    padding: 15px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.container-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #D0E8F2;
    color: #343a40;
    font-weight: 500;
    border-bottom: 1px solid #dee2e6;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 60px;
    border-radius: 10px;
    width: 30%;
  }
  .div-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 20px;
  }
  .fontSearch{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.05rem;
    color: #4b5563;
  }
  .containerSvg{
    position: relative;
  }
  .svg-iconSearch {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    color: #9ca2a9;
    left: 0.75rem;
  }
  .input-search {
    border: none;
    width: 24rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 1rem;
    color: #6b7280;
    border-color: #e2e8f0;
    border-radius: 0.375rem;
    outline: none;
    border: 1px solid #747474;
    background-color: #f9fafb;
    box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: -1px 1px 11px 0px rgba(0,0,0,0.16);
  }
  
  .input-search:focus {
    background-color: #ebefff;
    border-color: #596FB7;
  }
  .containerCards {
    display: grid;
    grid-template-columns: repeat(3, 3fr); 
    gap: 1rem; 
    width: 100%;
  }
  .botonesInicio{
    display: flex; align-items:flex-end ; gap: 10px;
    justify-content: right;
    margin-bottom: 20px;
  }
.containerNoticia{
  margin-top: 150px;
}
.noticiaFoto{
  width: 400px;
  border-radius: 15px;
  border: 1px solid #747474;
}
.containerFotoNoticia{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}
.botonOpcionesNoticia{
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5;
  margin-bottom: 15px;
}
.containerNewNoticia{
  margin-top: 100px;
}
.containerFormulario{
  background-color: #7077A1;
  padding: 30px;
  margin-bottom: 60px;
  border-radius: 15px;
}
.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 25px 35px 25px;
  border-radius: 10px;
  
}
.formNoticia{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
}
  @media (min-width: 768px) {
    .containerCards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1200px) {
    .containerCards {
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  @media screen and (max-width: 600px) {
    h2 {
      font-size: 10px; 
    }
    h3 {
      font-size: 15px; 
    }
  }